@import '../../App.scss';

.previewDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;
    margin-bottom: 20px;
    background-color: $color2;
    // border: 3px solid $color3;
    overflow: hidden;
    .previewPicture{
        position: relative;
        height: 20vh;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .previewFade{
            position: absolute;
            top: 0;
            left: 0;
            right: 0; // Ensure the overlay spans the whole area
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8); // Semi-transparent overlay
            border-radius: 0px; // Match the border-radius of the parent if needed
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            .previewTitle{
                font-size: 1rem;
                text-shadow: 2px 2px 2px black;
            }
            p{
                font-size: 0.8rem;
            }
        }
    }
    div {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 10%;
        padding: 0% 5% 0% 5%;
        font-weight: 700;
        font-size: 0.8rem;
        p {
            text-transform: capitalize;
        }
        .ecommerceApp{
            background: url('https://images.unsplash.com/photo-1707343848655-a196bfe88861?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        }
        .restaurantApp{
            background: url('https://images.unsplash.com/photo-1707343848655-a196bfe88861?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        }
        .swapiApp{
            background: url('https://images.unsplash.com/photo-1707343848655-a196bfe88861?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        }
    }
}