@import '../../App.scss';

.previewDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    background-color: $color2;
    border-radius: 15px;
    border: 3px solid $color3;
    overflow: hidden;
    .topDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        border-bottom: 3px solid $color3;
    }
    .bottomDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        gap: 10%;
        padding: 0% 5% 0% 5%;
        font-weight: 700;
        font-size: 0.8rem;
        // button{
        //     padding: 3%;
        //     font-weight: 700;
        //     background-color: transparent;
        //     border: 2px solid $color3;
        //     border-radius: 10px;
        //     color: $color3;
        // }
        p{
            text-transform: capitalize;
        }
    }
}