// Importing Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// CSS RESET
* {
  // Includes padding and border in size calculation
  box-sizing: border-box;
  // Prevents grid and flex items from spilling out of the containers
  min-width: 0;
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
}

body {
  // Ensures the body fills the entire viewport
  min-height: 100dvh;
  // background: rgb(29, 29, 29);
  background: rgb(35, 35, 35);
  font-family: 'Inter', sans-serif;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

// Doing this allows me to change just this here and it will change each individual thing instead of going one by one
$main-font: 'Inter', sans-serif;

// Setting a nav height
$nav-height: 7vh;

// Setting colors
$color1: rgb(35, 35, 35);
$color2: rgb(8, 30, 51);
$color3: rgb(255, 255, 255);
$color4: rgb(217, 217, 217);
$color5: rgb(40, 75, 99);

$font-color: $color3;

// We can include this property in other pages to center things fast
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

@mixin main-content {
  height: calc(100vh - $nav-height);
  width: 100vw;
}

@mixin section-setup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
  @include main-content;
}

// Adding this in to take care of the space left by making the nav fixed
.dummyDiv {
  height: $nav-height;
  overflow: hidden;
}

// Using these as breakpoints
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}