@import '../App.scss';

.mainPageContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    .sectionHome {
        @include section-setup;
        .homeHeader {
            font-size: 3rem;
            font-weight: 700;
        }

        .homeSubheader {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .homeParagraph {
            font-size: 1rem;
        }
        .homeLogos{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding: 10px 0px 0px 0px;
            .homeGithub{
                color: white;
                font-size: 2rem;
            }
        }
    }

    .sectionAbout {
        @include section-setup;
        p{
            font-size: 0.8rem;
            font-weight: 700;
        }
    }

    .sectionProjects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
        min-height: calc(100vh - $nav-height);
        width: 100vw;
        gap: 2%;
    }
    @media (min-width: 576px) {
        .sectionHome{
            .homeHeader {
                font-size: 4rem;
            }
    
            .homeSubheader {
                font-size: 1.5rem;
            }
    
            .homeParagraph {
                font-size: 1.2rem;
            }
        }
        .sectionAbout {
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .sectionProjects{

        }
    }

    @media (min-width: 768px) {
        .sectionHome{
            .homeHeader {
                font-size: 5rem;
            }
    
            .homeSubheader {
                font-size: 2rem;
            }
    
            .homeParagraph {
                font-size: 1.5rem;
            }
        }
        .sectionAbout {
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }

    @media (min-width: 992px) {
        .sectionHome{
            .homeHeader {
                font-size: 6rem;
            }
    
            .homeSubheader {
                font-size: 2.5rem;
            }
    
            .homeParagraph {
                font-size: 1.7rem;
            }
        }
        .sectionAbout {
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
        .sectionProjects{
            display: flex;
            flex-direction: row;
            gap: 5%;
            .previewDiv{
                width: 350%;
                height: 50%;
            }
        }
    }

    @media (min-width: 1200px) {
        .sectionHome{
            .homeHeader {
                font-size: 7rem;
            }
    
            .homeSubheader {
                font-size: 3rem;
            }
    
            .homeParagraph {
                font-size: 2rem;
            }
        }
    }
    @media (min-width: 1400px) {
        .sectionHome{
            .homeHeader {
                font-size: 7rem;
            }
    
            .homeSubheader {
                font-size: 3rem;
            }
    
            .homeParagraph {
                font-size: 2rem;
            }
        }
        .sectionAbout {
            h1{
                font-size: 4rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

}