@import '../App.scss';

.mainPageContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    .sectionHome {
        @include section-setup;
        .homeHeader {
            font-size: 3rem;
            font-weight: 700;
        }

        .homeSubheader {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .homeParagraph {
            font-size: 1rem;
        }
        @media (min-width: 1400px) {
            .homeHeader {
                font-size: 7rem;
            }
    
            .homeSubheader {
                font-size: 3rem;
            }
    
            .homeParagraph {
                font-size: 2rem;
            }
        }
    }

    .sectionAbout {
        @include section-setup;
        background-color: $color2;
    }

    .sectionProjects {
        @include section-setup;
    }

    .sectionContact {
        @include section-setup;
        background-color: $color2;
    }
}